# ------------------------------------------------------------------------------
# Dart / Flutter (Standard)
# ------------------------------------------------------------------------------
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# On ignore le lockfile à la racine (recommandé pour un package)
/pubspec.lock

# ------------------------------------------------------------------------------
# Android / iOS / IDE (Global)
# ------------------------------------------------------------------------------
**/android/local.properties
**/android/GeneratedPluginRegistrant.java
**/android/.gradle
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Pods/
.idea/
.vscode/
.DS_Store
*.log