# ------------------------------------------------------------------------------
# Package Root (Dart/Flutter)
# ------------------------------------------------------------------------------
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# On ignore le lockfile à la racine (standard pour un package)
/pubspec.lock

# ------------------------------------------------------------------------------
# Android
# ------------------------------------------------------------------------------
**/android/local.properties
**/android/key.properties
**/android/GeneratedPluginRegistrant.java
**/android/.gradle
**/android/captures/
**/android/**/*.keystore
**/android/**/*.jks

# Wrappers Gradle : ON GARDE (Important)
!**/android/gradlew
!**/android/gradlew.bat
!**/android/**/gradle-wrapper.jar

# ------------------------------------------------------------------------------
# iOS / macOS / Web
# ------------------------------------------------------------------------------
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/GeneratedPluginRegistrant.*
**/ios/Pods/
**/ios/.generated/
**/ios/**/*.moved-aside
**/ios/**/xcuserdata
**/ios/**/DerivedData/

# MacOS
.DS_Store
**/macos/Flutter/ephemeral/

# ------------------------------------------------------------------------------
# Tools & IDE
# ------------------------------------------------------------------------------
# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Divers
*.log
*.swp
.history
.buildlog/